@import 'tailwindcss';

@theme {
  --color-neutral: #e8f5f1;
  --color-primary-100: #d9ed92;
  --color-primary-200: #b5e48c;
  --color-primary-300: #99d98c;
  --color-primary-400: #76c893;
  --color-primary-500: #52b69a;
  --color-primary-600: #34a0a4;
  --color-primary-700: #168aad;
  --color-primary-800: #1a759f;
  --color-primary-900: #1e6091;
  --color-primary-950: #184e77;
  --color-primary-975: #0c2d44;

  --font-sans: "Smooch Sans", system-ui, sans-serif;
  --font-display: "Bebas Neue", sans-serif;
  --font-heading: "Oswald", sans-serif;
  --font-mono: "Roboto Condensed", monospace;
}

@utility font-display {
  font-family: var(--font-display);
}

@utility font-heading {
  font-family: var(--font-heading);
}